actionlib==1.12.1
angles==1.9.12
base-local-planner==1.16.7
black-box-tools==1.0.0
bondpy==1.8.5
camera-calibration==1.15.0
camera-calibration-parsers==1.11.13
catkin==0.7.29
catkin-pkg==0.4.23
click==8.0.1
controller-manager==0.18.3
controller-manager-msgs==0.18.3
cv-bridge==1.13.0
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
diagnostic-analysis==1.9.7
diagnostic-common-diagnostics==1.9.7
diagnostic-updater==1.9.7
distro==1.5.0
docutils==0.17.1
dynamic-reconfigure==1.6.3
ecto==0.6.12
ecto-image-pipeline==0.5.7
ecto-opencv==0.7.2
ecto-ros==0.4.8
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
ftsm==0.1.0
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.14
greenlet==1.1.0
hsrb-angle-sensors-alignment==0.17.1
hsrb-autocharge==0.17.1
hsrb-battery-notifier==0.13.0
hsrb-bumper==0.17.1
hsrb-dashboard==0.3.2
hsrb-fetch-hanged==0.4.1
hsrb-gradational-color==0.17.1
hsrb-grasp-state-observer==0.29.2
hsrb-interface-py==0.11.2
hsrb-joint-impedance-control==0.29.2
hsrb-move-to-locations==0.4.1
hsrb-restart-cancel-task==0.4.1
hsrb-rlp-interface-py==0.2.0
hsrb-rqt-joint-impedance==0.3.2
hsrb-short-speech-task==0.4.1
hsrb-simple-actions==0.4.1
hsrb-status-led==0.13.0
hsrb-task-history-trigger==0.4.1
hsrb-task-state-machines==0.4.1
hsrb-task-states==0.4.1
hsrb-task-util==0.4.1
hsrb-timeopt-ros==0.29.2
hsrb-trajectory-filter==0.29.2
hsrb-voice-trigger-task==0.4.1
hsrb-web-server==0.28.0
image-geometry==1.13.0
importlib-metadata==4.3.1
interactive-markers==1.11.5
ipaddress==1.0.23
itsdangerous==2.0.1
Jinja2==3.0.1
joint-state-publisher==1.12.15
joint-state-publisher-gui==1.12.15
kafka-python==2.0.2
kdl-parser-py==1.13.1
kiwisolver==1.3.1
laser-geometry==1.6.7
MarkupSafe==2.0.1
matplotlib==3.3.4
message-filters==1.14.10
moveit-commander==1.0.7
moveit-ros-planning-interface==1.0.7
moveit-ros-visualization==1.0.7
networkx==2.5.1
numpy==1.19.5
object-recognition-core==0.6.7
object-recognition-ros==0.3.7
object-recognition-tabletop==0.3.2
openni2-launch==1.5.1
Pillow==8.2.0
pkg-resources==0.0.0
pr2-power-board==1.1.7
pyftsm==1.0.0
pymongo==3.11.4
pyparsing==2.4.7
pyre==0.3.2
python-dateutil==2.8.1
python-qt-binding==0.4.3
PyYAML==5.4.1
pyzmq==22.0.3
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
resource-retriever==1.12.6
rosapi==0.11.13
rosbag==1.14.10
rosboost-cfg==1.14.9
rosbridge-library==0.11.13
rosbridge-server==0.11.13
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.10
roslaunch==1.14.10
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.10
rosmake==1.14.9
rosmaster==1.14.10
rosmsg==1.14.10
rosnode==1.14.10
rosparam==1.14.10
rospkg==1.3.0
rospy==1.14.10
rospy-message-converter==0.5.6
rosservice==1.14.10
rostest==1.14.10
rostopic==1.14.10
rosunit==1.14.9
roswtf==1.14.10
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.10
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.2
rqt-py-console==0.4.8
rqt-reconfigure==0.5.4
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.17
scipy==1.5.4
sensor-msgs==1.12.7
six==1.16.0
smach==2.0.1
smach-ros==2.0.1
smach-viewer==3.0.0
smclib==1.8.5
sound-play==0.3.11
spline-smoother==1.1.0
SQLAlchemy==1.4.17
srdfdom==0.5.2
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
tf2-sensor-msgs==0.6.5
tmc-env-db==0.23.2
tmc-eus-py==0.1.3
tmc-eus-py-visualization-tools==0.1.3
tmc-force-torque-sensor-compensation==0.32.0
tmc-grasp-state-recognizer==0.32.0
tmc-grid-map-server==0.30.0
tmc-image-capturer==0.35.0
tmc-imu-wheel-odometry==0.30.0
tmc-journald==0.4.1
tmc-lint==0.10.0
tmc-move-base-and-joint-positions==0.24.1
tmc-mqtt-bridge==0.21.0
tmc-object-topology-viewer==0.23.2
tmc-remote-exec==0.28.0
tmc-ros-node-monitor==0.4.1
tmc-rosbag-tools==0.21.0
tmc-rosjulius==0.22.1
tmc-sanyo-battery==0.26.0
tmc-sentence-trigger==0.23.2
tmc-simple-actions==0.24.1
tmc-smach-action-bridge==0.23.2
tmc-smach-states==0.24.1
tmc-stereo-marker-recognizer==0.34.1
tmc-tabletop-segmentator==0.34.1
tmc-task-fw==0.23.2
tmc-timeopt==0.33.0
tmc-timeopt-ros==0.33.0
tmc-utils-py==0.21.0
tmc-vision-util==0.35.0
tmc-voice-action==0.22.1
tmc-web-helper==0.28.0
topic-tools==1.14.10
typing-extensions==3.10.0.0
urdfdom-py==0.4.5
Werkzeug==2.0.1
xacro==1.13.9
zipp==3.4.1
